<div class="d-flex">
  <div class="container">
    <div class="text-center">
      <div class="site-logo">
        <a class="justify-content-center" routerLink="/">
          <img src="assets/img/fpt.png" alt="" style="width: 100px" />
        </a>
      </div>
      <br />
      <ul class="flex-column mb-auto">
        <li>
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
            >Home</a
          >
        </li>
        <br />
      </ul>
    </div>
  </div>
</div>
