<nav class="main-menu">
  <ul>
    <li class="current-list-item">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/document']" routerLinkActive="active"
        >Add Document</a
      >
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/popular']" routerLinkActive="active"
        >Most Popular Ideas</a
      >
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/submit']" routerLinkActive="active"
        >Submit</a
      >
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/change']" routerLinkActive="active"
        >Change</a
      >
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active"
        >Profile</a
      >
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/recovery']" routerLinkActive="active"
        >Recovery</a
      >
    </li>
    <li>
      <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active"
        >Create new account</a
      >
    </li>
  </ul>
  <div class="col-3">
    <div ngbDropdown class="d-inline-block">
      <button
        style="background-color: orange; margin-bottom: -20px; padding: 1px 7px"
        class="btn btn-outline-light"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        <i class="bi bi-person-circle" style="font-size: 20px"></i>
      </button>
      <div
        style="background-color: white"
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
      >
        <button ngbDropdownItem *ngIf="!appService.isLogIn()">
          <a class="nav-link" [routerLink]="['/login']">Login </a>
        </button>
        <button ngbDropdownItem *ngIf="!appService.isLogIn()">
          <a class="nav-link" [routerLink]="['/signup']">Signup </a>
        </button>
        <button ngbDropdownItem *ngIf="appService.isLogIn()">
          <a class="nav-link" href (click)="appService.logout()">Logout </a>
        </button>
      </div>
    </div>
  </div>
</nav>
<div class="mobile-menu"></div>
