<div class="background module">
  <div class="border">
    <div class="site-logo">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/img/fpt.png" alt="" style="width: 150px" />
      </a>
    </div>
    <p>Change password</p>
    <div class="mb-3">
      <select id="disabledSelect" class="form-control">
        <option>A new password</option>
      </select>
    </div>
    <div class="mb-3">
      <select id="disabledSelect" class="form-control">
        <option>Enter a new password</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
    <br />
  </div>
</div>
