<div class="background module">
  <div class="border">
    <div class="site-logo">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/img/fpt.png" alt="" style="width: 150px" />
      </a>
    </div>
    <p>Change password</p>
    <div class="mb-3" style="padding-left: 35px">
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Current password"
        style="width: 1350px"
      />
    </div>
    <div class="mb-3" style="padding-left: 35px">
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter a new password"
        style="width: 1350px"
      />
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
    <br /><br />
  </div>
</div>
