<div class="background module">
  <div class="border">
    <div class="site-logo">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/img/fpt.png" alt="" style="width: 150px" />
      </a>
    </div>
    <p>Login</p>
    <div class="mb-3" style="margin-left: 25px">
      <label for="exampleFormControlInput1" class="form-label mb-3 row"
        >Account</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter your email...."
        style="width: 1350px; padding-left: 35px"
      />
    </div>
    <div class="mb-3" style="margin-left: 25px">
      <label for="exampleFormControlInput1" class="form-label mb-3 row"
        >Password</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="********"
        style="width: 1350px; padding-left: 35px"
      />
    </div>
    <div class="form-check" style="margin-left: 30px">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Remember password
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <br />
    <div class="divider">
      <!-- <a class="nav-link" [routerLink]="['/recovery']" routerLinkActive="active"
        >Register account</a
      > -->
      <a class="nav-link" [routerLink]="['/recovery']" routerLinkActive="active"
        >Forgot password?</a
      >
    </div>
  </div>
</div>
