<app-navbar></app-navbar>
<div class="content">
  <div class="d-flex justify-content-end">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-secondary br">
        <i class="bi bi-person-fill"></i>
      </button>
    </div>
  </div>
  <h2 class="d-flex justify-content-center text-align-center">
    User management
  </h2>
  <hr />
  <div class="d-flex justify-content-end">
    <div ngbDropdown class="d-inline-block">
      <button (click)="cr()" type="button" class="btn btn-primary br">
        Create
      </button>
    </div>
  </div>
  <br />
  <div class="row justify-content-evenly">
    <div *ngFor="let item of allUser" class="col-3">
      <button (click)="ic(item.id)" class="but" type="button">
        <i class="bi bi-person-fill"></i></button
      >
      <button (click)="tr(item.id)" style="border-radius: 5px">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
  <br />
</div>
<!-- Modal Create -->
<div *ngIf="showc" class="bor">
  <div class="pop">
    <div class="modal-header">
      <h1 class="text-align-center center">Create account</h1>
      <button type="button" class="btn-close" (click)="clo()"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">User Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="input" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Full Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="input" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">DOB</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" id="input" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="input" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" id="input" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="input" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="input" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="input" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="cre" type="button" class="btn btn-primary">Create</button>
    </div>
  </div>
</div>
<!-- Modal Profile -->
<div *ngIf="showf" class="bor">
  <div class="pop">
    <div class="modal-header">
      <h1 class="text-align-center center">Profile</h1>
      <button type="button" class="btn-close" (click)="cl()"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">User Name</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.userName" class="form-control" type="text" disabled />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Full Name</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.fullName" class="form-control" type="text" disabled />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Date Of Birth</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.doB" class="form-control" type="datetime" disabled />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.email" class="form-control" type="text" disabled />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.phoneNumber" class="form-control" type="number" disabled />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.role" class="form-control" type="text" disabled />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.department" class="form-control" type="text" disabled />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-8">
          <input value="123456" class="form-control" type="number" disabled />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal delete -->
<div *ngIf="showd" class="bor">
  <div class="pop">
    <div class="modal-header">
      <h1>Delete Account</h1>
      <button type="button" class="btn-close" (click)="clo()"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete your account?</p>
    </div>
    <div class="modal-footer">
      <button (click)="clo()" type="button" class="cancelbtn">Cancel</button>
      <button (click)="dl()"  type="button" class="deletebtn">Delete</button>
    </div>
  </div>
</div>
