.content{
  background-color: rgb(230, 230, 230);
  height: 100%;
  width: 100%;
  padding: 20px;
}
.from-ex{
  border-radius: 15px;
}
.but{
  border-radius: 5px;
  width: 280px;
}
.cre{
  text-align: center;
  border-radius: 5px;
}
