<div class="background module">
  <div class="border">
    <h3>Add Document</h3>
    <div class="mb-3" style="margin-left: 25px">
      <label for="exampleFormControlInput1" class="form-label mb-3 row"
        >Tittle</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        style="width: 1350px; padding-left: 35px"
      />
    </div>
    <div class="mb-3" style="margin-left: 25px">
      <label for="exampleFormControlInput1" class="form-label mb-3 row"
        >Attach Document</label
      >
      <div class="border">
        <div class="divider">
          <div>
            <i class="bi bi-file-earmark"></i>
            <i class="bi bi-folder"></i>
            <i class="bi bi-grid-3x3-gap-fill"></i
            ><i class="bi bi-card-list"></i>
            <i class="bi bi-folder-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
