<div class="module">
  <div class="border">
    <br />
    <div class="icon">
      <input
        class="form-control"
        type="text"
        value="Update your photo and personal details"
        aria-label="Disabled input example"
        disabled
        readonly
      />
    </div>
    <br />
    <div class="mb-3 row">
      <label for="input" class="col-sm-2 col-form-label">User Name</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="input" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="input" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="input" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="input" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="input" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="input" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="input" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="input" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="input" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="input" class="col-sm-2 col-form-label"
        >Password Comfirmation</label
      >
      <div class="col-sm-8">
        <input type="password" class="form-control" id="input" />
      </div>
    </div>
  </div>
</div>
