<div class="background module">
  <div class="border">
    <div class="site-logo">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/img/fpt.png" alt="" style="width: 150px" />
      </a>
    </div>
    <p>Password Recovery</p>
    <div class="mb-3" style="padding-left: 35px">
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter comfimation email.."
        style="width: 1350px"
      />
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
    <div>
      <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
        >Or come back to Login</a
      >
    </div>
  </div>
</div>
