<app-navbara></app-navbara>
<div class="content">
  <h2 class="d-flex">Events</h2>
  <div class="d-flex justify-content-end">
    <div ngbDropdown class="d-inline-block">
      <button (click)="cr()" type="button" class="btn btn-primary br">
        Create
      </button>
    </div>
  </div>
  <br />
  <div class="justify-content-evenly">
    <div  class="justify-content-evenly">
      <div class="row bo">
        <div class="col-1" style="font-size: 50px; margin-top: 25px;" >
          <i  class="bi bi-life-preserver" style="margin: 5px; border-radius: 15px;"></i>
        </div>
        <div class="col-11">
          <h5>Herder</h5>
          <p class="p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <br />
    <br>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
<!-- Modal Create -->
<div *ngIf="showc" class="bor">
  <div class="pop">
    <div class="modal-header">
      <h1 class="text-align-center center">Create Event</h1>
      <button type="button" class="btn-close" (click)="clo()"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3 row">
        <label for="input" class="col-form-label">Manager</label>
        <div>
          <input class="form-control" type="text" value="QA Coordinator" disabled />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-form-label">Name</label>
        <div >
          <input type="text" class="form-control" id="input" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-form-label">Description</label>
        <div >
          <input type="text" class="form-control" id="input" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-form-label">First Closing Date</label>
        <div>
          <input type="date" class="form-control" id="input" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="input" class="col-form-label">Last Closing Date</label>
        <div>
          <input type="date" class="form-control" id="input" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="cre fa-align-center" type="button" class="btn btn-primary">Create</button>
    </div>
  </div>
</div>

